.main {
  margin: auto 50px;
}
.img {
  width: 50%;
  background-color: #b44343;
}
.textarea {
  border-color: blueviolet;
}
.input-container {
  position: relative;
}
.input-container input[type='file'] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}